<table>
    <tr class="linha-principal">
        <td class="id"> Id</td>
        <td> Nome</td>
        <td> Nº dependentes</td>
        <td> Salário</td>
        <td> Data de nascimento</td>
    </tr>

    <tr *ngFor="let funcionario of listaFuncionarios">
        <td class="id"> {{funcionario.id}}</td>
        <td> {{funcionario.nome}}</td>
        <td> {{funcionario.numDep}}</td>
        <td> {{funcionario.salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
        <td> {{funcionario.nascimento | date:'dd/MM/yyyy'}}</td>
    </tr>

</table>

<button (click)="navegarCadastro()">
    Novo Funcionário
</button>
